* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
}

canvas {
    background-color: #111;
}

.score-div {
    font-size: 1.5rem;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 600px; /*canvas width*/
}

.score-div span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

.game-over button {
    background-color: transparent;
    border: none;
}

.game-over button span{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}